{{#liquid-bind model class="liquid-monster" as |assault|}}
  <div class="assault">
    <h1>{{assault.question}}</h1>

    <form {{action "resolveAssault" on="submit"}}>
      <div class="form-group {{if isError 'has-error'}} {{if isSuccess 'has-success'}}">
        {{#focus-input}}
          <div class="input-group">
            {{input value=userAnswer type="text" maxlength="2" class="form-control input-lg text-center" autocomplete="off"}}
            <span class="input-group-btn">
              {{#unless isCompleted}}
                <button class="btn btn-lg btn-primary" {{action "resolveAssault"}} role="button" disabled={{isAnswerStillNotFilled}}>Go!</button>
              {{/unless}}

              {{#if isError}}
                <button class="btn btn-lg btn-primary btn-danger btn-icon" role="button" disabled="true"><span class="glyphicon glyphicon-remove"></span></button>
              {{/if}}

              {{#if isSuccess}}
                <button class="btn btn-lg btn-primary btn-success btn-icon" role="button" disabled="true"><span class="glyphicon glyphicon-ok"></span></button>
              {{/if}}

            </span>
          </div>
        {{/focus-input}}
        <span class="text-left help-block">Write the 2 letters of the country code of <mark>{{assault.question}}</mark></span>
      </div>
    </form>
  </div>
{{/liquid-bind}}