{{#liquid-bind model class="liquid-monster" as |assault|}}
  <div class="jumbotron">
    <h1>{{assault.question}}</h1>

    <form {{action "resolveAssault" on="submit"}}>
      <div class="form-group {{fieldClass}}">
        <div class="input-group">
          {{#focus-input}}
            {{input value=userAnswer type="text" maxlength="2" class="form-control input-gi text-center" autocomplete="off"}}
          {{/focus-input}}
          <span class="input-group-btn">
          <button class="btn btn-gi btn-success" {{action "resolveAssault"}} href="#" role="button" disabled={{assault.completed}}>Go!</button>
          </span>
        </div>
        <span class="text-left help-block">Write the 2 letters of the country code of <mark>{{assault.question}}</mark></span>
      </div>
    </form>
  </div>
{{/liquid-bind}}