<div class="jumbotron">
  <h1>{{model.question}}</h1>

  <form {{action "resolveAssault" on="submit"}}>
    <div class="form-group {{fieldClass}}">
      {{input value=userAnswer type="text" maxlength="2" class="form-control input-gi text-center" autocomplete="off"}}
      <span class="text-left help-block">Write the 2 letters of the country code of <mark>{{model.question}}</mark></span>
    </div>
  </form>

  <p><button class="btn btn-lg btn-success" {{action "resolveAssault"}} href="#" role="button" disabled={{model.completed}}>Send</button></p>
</div>