<div class="end">
  {{final-message}}

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Answer</th>
        <th>Code</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |assault|}}
        <tr>
          <td><h3>{{assault.question}}</h3></td>
          <td><h3><span class="label {{if assault.result 'label-success' 'label-danger'}}">{{assault.userAnswer}}</span></h3></td>
          <td><h3><span class="label label-primary">{{assault.answer}}</span></h3></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
